* {
    font-size: 40px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .container {
    width: 90%; /* Ajustamos el ancho del contenedor para dispositivos móviles */
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 60px;
  }
  
  form {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    /* font-size: 46px; */
    margin-bottom: 10px;
  }
  
  input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #FF7A62;
    color: #fff;
    border: none;
    border-radius: 4px;
    /* font-size: 16px; */
    cursor: pointer;
  }
  
  .chatbot-image {
    height: 400px;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  
  .chat-bubble, .user-bubble {
    background-color: #FF7A62;
    color: #fff;
    padding: 10px 15px;
    border-radius: 20px;
    margin: 10px;
    max-width: 80%;
    text-align: center;
  }
  
  .user-bubble {
    background-color: #f1f1f1;
    color: #333;
  }
  
  .chat-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  